@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
/* body {
    position: relative; 
    background-image: url('./assets/math.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
  } 
   */
  /* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a5a5a5;
    opacity: 0.9; 
  } */
  

/* body {
    background-image: url('test.jpeg');
} */

/* .solid-bg {
    background: #D3D3D3;
    margin: 3rem;
} */
